<!DOCTYPE html>
<html>
        <% include partials/head %>

        <div class="wrapper">
            <h1><%= title %></h1>
            <div class="ra-r"></div>
            <body>
    <table class="table table-inverse">
    <thead>
      <tr>
        <th>Education Usage</th>
        <th>Browsing Usage</th>
        <th>Shopping Usage</th>
        <th>Social Media Usage</th>
        <th>Entry Date</th>
      </tr>
    </thead>

    <tbody>
        <% var totalEducation=0; 
         var totalBrowsing=0; 
         var totalShopping=0; 
        var totalSocialMedia=0; %>
      <% for(var i=0; i < usagelist.length; i++) { %>
     <tr>
       <% totalEducation += usagelist[i].educationUsage; %>
       <% totalBrowsing += usagelist[i].browsingUsage; %>
       <% totalShopping += usagelist[i].shoppingUsage; %>
       <% totalSocialMedia += usagelist[i].socialMediaUsage; %>
      <td><%= toHours(usagelist[i].educationUsage) %></td>
      <td><%= toHours(usagelist[i].browsingUsage) %></td>
      <td><%= toHours(usagelist[i].shoppingUsage) %></td>
      <td><%= toHours(usagelist[i].socialMediaUsage) %></td>
      <td><%= usagelist[i].createdAt%></td>
      <td><a href="/usages/edit/<%= usagelist[i]._id%>"> Edit </a></td>
      <td><a href="/usages/delete/<%= usagelist[i]._id%>"> Delete </a></td>
     </tr>
  <% } %>
     
    </tbody>
  </table>

  <h1>Total</h1>
  <table class="table table-inverse">
    <thead>
      <tr>
        <th>Education Usage</th>
        <th>Browsing Usage</th>
        <th>Shopping Usage</th>
        <th>Social Media Usage</th>
        <th> Total Phone Usage</th>
      </tr>
    </thead>

    <tbody>
     <tr>
        <td><%= toHours(totalEducation) %></td>
        <td><%= toHours(totalBrowsing) %></td>
        <td><%= toHours(totalShopping) %></td>
        <td><%= toHours(totalSocialMedia) %></td>
        <td> <%= toHours(totalBrowsing+totalEducation+totalShopping+totalSocialMedia) %></td>
     </tr>

     
    </tbody>
  </table>

  <h1>Average</h1>
  <table class="table table-inverse">
    <thead>
      <tr>
        <th>Education Usage</th>
        <th>Browsing Usage</th>
        <th>Shopping Usage</th>
        <th>Social Media Usage</th>
        <th>Total Average</th>
      </tr>
    </thead>

    <tbody>
     <tr>
        <td><%= toHours(totalEducation / usagelist.length) %></td>
        <td><%= toHours(totalBrowsing  / usagelist.length) %></td>
        <td><%= toHours(totalShopping  / usagelist.length) %></td>
        <td><%= toHours(totalSocialMedia / usagelist.length)  %></td>
        <td><%= toHours((totalBrowsing+totalEducation+totalShopping+totalSocialMedia)/usagelist.length)%></td>
     </tr>

     
    </tbody>
  </table>



</body>
</div>
</div>
<% include partials/foot %>

</html>